
.theme-default-content{
  max-width: 80% !important;
  
}
.theme-default-content code {
    color: #d63200;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 0.85em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;
}

.theme-default-content pre code {
  white-space: pre;
}

.theme-default-content .primaryText{
  color: #3eaf7c;
  font-weight: 500;
}

.globalImg{
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
  margin-bottom: 20px;
}

.theme-default-content > h2,
.theme-default-content > h3,
.theme-default-content > h4,
.theme-default-content > h5,
.theme-default-content > h6 {
  margin-top: 0 !important;
  padding-top: 1.5rem !important;;
}
